<div class="disabled" id="foot">
        Nandkishor Kumawat
        <a href="https://github.com/nandkishor8878"> GitHub </a>||
        <a href="https://www.hackerrank.com/nandkishor8878"> HackerRank </a>||
        <a href="https://www.linkedin.com/in/nandkishor8878"> LinkedIn </a>
</div>
    </body>
</html>