<% include ../partials/header %>
<div class="container">
    <header class="jumbotron">
       <h1><span class="glyphicon glyphicon-tent" aria-hidden="true"></span> WelCome To YelpCamp!!</h1>
       <p>View our hand-picked campground from all over the world</p>
       <a class="btn btn-success" href="/campground/new">
           Add new campground
       </a>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
      <% campgrounds.forEach(function(cground){ %>
      <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="<%= cground.image %>">
            <div class="caption">
                <h3> <%=cground.name%> </h3>
            </div>
            <a class="btn btn-success" href="/campground/<%= cground._id %> ">
                More Info
            </a>
          </div>
      </div>
<% }); %>
    </div>
</div>



<% include ../partials/footer %>