.thumbnail img {
    width: 100%;
}

.body{
    background-color: purple;
}
.delete-form{
    display: inline;
}
.pull-right {
    margin: 0;
    font-weight: bold;
}
#foot{
    position: absolute;
    bottom: 0;
    font-size: 13px;
    text-align-last: center;
    border-color: transparent;
    margin-bottom:3px;
    margin-top: 10px;
    padding-top: 5px;
    width: 100%;
}
.jumbotron{
    text-align: center;
    background-position: center;
    background-image: url(https://c.pxhere.com/photos/c0/dd/photo-1406460.jpg!d);
    background-attachment: scroll;
    color: white;
}
#jumbotron-back{
    width: 100%;
    height: 100%;
    
}
.navbar{
    margin-bottom: 0;
}
.description{
    font-size: .9em;
}
#delete-btn{
    background: none;
    border: none;
    color: #337ab7;
    display: inline;
}
i {
   display: inline; 
}
#ratting-box{
    width: 100%;
    font-size: .9em;
}
legend{
    margin-bottom: 0;
    font-size: 15px;
   font-weight: bold;
}
#rating-b{
    display: inline;
}
#flash-msg{
    text-align: center;
}
#my-campground{
    width: 100%;
}
.dropdown-menu-list{
    width: 100%;
}
.campground-author{
    width:100%;
    text-align:center;
    margin: 0;
    padding-top:20px;
    padding-bottom:10px;
    background-color:#e7e7e7;
    margin-bottom:10px;
}