.thumbnail img {
    width: 100%;
}

.body{
    background-color: purple;
}
.delete-form{
    display: inline;
}
.pull-right {
    margin: 0;
    font-weight: bold;
}
#foot{
    position: absolute;
    bottom: 0;
    font-size: 13px;
    text-align-last: center;
    border-color: transparent;
    margin-bottom:3px;
    margin-top: 10px;
    padding-top: 5px;
    width: 100%;
}
.jumbotron{
    text-align: center;
    background-position: center;
    background-image: url(https://campusa.s3.amazonaws.com/images/headers/cabins.jpg);
    color: white;
}
#jumbotron-back{
    width: 100%;
    height: 100%;
    
}
.navbar{
    margin-bottom: 0;
}
.description{
    font-size: .9em;
}
#delete-btn{
    background: none;
    border: none;
    color: #337ab7;
    display: inline;
}
i {
   display: inline; 
}