.thumbnail img {
    width: 100%;
}

.body{
    background-color: purple;
}
.thumbnail {
    padding: 0;
}
.delete-form{
    display: inline;
}
#foot{
    font-size: 13px;
    text-align-last: center;
    border-color: transparent;
    /*background-color: black;*/
    /*color: white;*/
    margin-bottom:3px;
    margin-top: 10px;
    padding-top: 5px;
}